05-working_with_expressjs/node_modules/
05-z-tarea3/node_modules/
06-dynamic_content_template_engines/node_modules/
06-tarea4/node_modules/
07-model_view_controller/node_modules/
10-SQL_introduction/node_modules/
12-mongodb/node_modules/
13-mongoose/node_modules/
14-sessions_cookies/node_modules/
15-authentication/node_modules/
16-sending_emails/node_modules/
18-validation/node_modules/
19-error_handling/node_modules/
20-file_upload_download/node_modules/
21-pagination/node_modules/
22-async_requests/node_modules/
23-payment/node_modules/
24-rest_apis/node_modules/
25-rest_project/node_modules/
28-graphql/node_modules/
29-deploying_the_app/node_modules/
30-testing/node_modules
.env