<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <main>
        <h1>Usuarios</h1>
        <% if (users.length > 0) { %>
        <ul>
            <% users.forEach((user) => { %>
                <li><%= user.nombre %></li>
            <% } ) %>
        </ul>
        <% } else { %>
            <h1>No hay usuarios</h1>
        <% } %>
    </main>
</body>
</html>